.survey-content {
  display: flex;
  min-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

#survey-element {
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

.survey-row {
  display: flex;
  width: 100%;
}

.alert {
  color: red;
}

@media screen and (max-width: 990px) {
  div.survey-content {
    flex-direction: column;
  }
  #survey-element {
    flex: 1 0 100%;
    flex-wrap: wrap;
  }

}
