  <div>
    <h1>Survey</h1>
    <form>
      <div class="survey-row1">
        Name: <input type="text" name="name">
        Date: <input type="date" name="date">
        Weather: <select name="weather">
          <option value="sunny">Sunny</option>
          <option value="cold">Cold</option>
          <option value="Wet">Wet</option>
          <option value="hot">Hot</option>
          <option value="muggy">Muggy</option>
        </select>
      </div>
      <div class="survey-row2">
        Age:
          <input type="radio" name="age" value="18-35" id="age1">18-35
          <input type="radio" name="age" value="36-80" id="age2">36-80
          <input type="radio" name="age" value="80+" id="age3">80+
        Do you like snow?
          <input type="checkbox" name="snow" value="yes">Yes
          <input type="checkbox" name="snow" value="no">No
        What is your favorite vegetable?
          <input type="text" name="vegetable">
      </div>
      <input type="submit">
    </form>
  </div>
